{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $password := promptStringOnce . "password" "Sudo password" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    password = {{ $password | quote }}

[edit]
    command = "code"
    args = ["--wait"]
