#!/bin/bash

set -e

echo "04. clone and update GitHub repositories"

# Create repos directory
mkdir -p "$HOME/Documents/GitHub"
cd "$HOME/Documents/GitHub"

# Get repo list and clone/update
gh repo list {{ .name }} --public | while read -r repo _; do
    if [ -d "$repo" ]; then
        echo "[gh][update] $repo"
        cd "$repo"
        git pull
        cd ..
    else
        echo "[gh][clone] $repo"
        gh repo clone "$repo"
    fi
done

echo "04. clone/update complete"
